<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Mariana Tudó Basagoitia | Business Engineering</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Chaoo" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/profile-pic.jpg" alt="Mariana Tudó" class="profile-pic nav-link" />
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Studies</a>
          </li>
          <li class="nav-item">
            <a href="#projects" class="nav-link">Experience</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contact</a>
          </li>
          <div class="cta">
            <a href="#" target="_blank" class="btn nav-link">Hire me</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Mariana Tudó</h2>
          <h3>Business Engineering</h3>
          <p>Teamwork . Lidership . Strategic Planning . Microsoft Office</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Get In Touch</a>
            </div>
            <div class="cta">
              <a href="#projects" class="btn">My Experience</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/profile-pic.jpg" alt="Chaoo Charles" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>Hi there!</h2>
          <p>
            My name is Mariana Tudó Basagoitia. I was born on January 5, 2001, in Santa Ana, El Salvador. 
          </p>
          <p>
            I'm an university student and also an entrepreneur. I like working with other people, learning new things and traveling a lot. 
          </p>
          <p>
            Some of my favorite hobbies are cooking, taking pictures and playing basketball. 
          </p>
        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>ACADEMIC STUDIES</h2>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <h2>Liceo San Luis</h2>
            <p>
              I studied there since 2007 and graduated from general high school in 2018. During all the years I obtained diplomas for my good grades and, at the grad, I received recognition for being "First Bachelor 2018". Also, I played in the basketball team since 2011 and won 2014 runner-up national champions.
            </p>
          </div>
          <div class="tier-item">
            <h2>Escuela Superior de Economía y Negocios</h2>
            <p>
              Currently I'm studying third year of Business Engineering. I will hopefully graduate in 2023. As extracurricular activities I'm part of the basketball team and I'm an assistant of some subjects.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>EXPERIENCE</h2>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/sppms.png" />
        </div>
        <div class="project-description">
          <h2>D'la Amuma</h2>
          <p>
            This is my entrepreneurship. It started in 2020 with my grandma. It's a way to continue different traditions that we have in our family kitchen, including the famous eggnog. We continue to grow as we expand the list of products we offer. 
          </p>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>STAFF</h2>
          <p>
            At the university I'm part of this group, called STAFF. We are a part of "Centro de Liderazgo ESEN" as we assist in different lidership subjects. We also give speachs and trainings to different companies or schools in topics of leadership, teamwork and others.
          </p>
        </div>
        <div class="project-img">
          <img src="/static/images/to-do.png" />
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>Get In Touch</h2>
      <p>
        If you want to reach me out, even just to say "Hello", don't hesitate and send me an email. 
      </p>
      <div class="container">
        <p>
          <a href="mailto:marianatb2001@gmail.com"><i class="fas fa-envelope-open"></i> marianatb2001@gmail.com</a>
        </p>
      </div>
      <hr />
    </section>
    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">About</a>
        <a href="#services" class="footer-nav-link">Academic Studies</a>
        <a href="projects" class="footer-nav-link">Experience</a>
        <a href="#contact" class="footer-nav-link">Contact</a>
      </div>
    </footer>
  </main>
  <script src="/static/main.js"></script>
</body>
</html>